@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>Please Check Your Inbox</p>
        <p><a href="https://mail.google.com/mail/u/0/#inbox">Go To Inbox</a></p>
    </div>
</div>