@using Demo.Presentation.ViewModels;
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendResestPassowrdLink" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Email" placeholder="Email" required="">
            <span asp-validation-for="Email"></span>
            <br />
            <input type="submit" value="SEND Reset Password Link">
        </form>
        <p><a asp-action="Login">Cancel</a></p>
    </div>