@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div>
            <input asp-for="Password" placeholder="New Password" required="">
            <span asp-validation-for="Password"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
            <span asp-validation-for="ConfirmPassword"></span>
            <br />

            <input type="submit" value="Change Password">
        </form>
        <p> <a asp-action="Login">Cancel</a></p>
    </div>
</div>
