@using Demo.BusinessLogic.DataTransferObjects.DepartmentDataTransfer
@model EmployeeEditViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Employee</h1>
    <form method="post" asp-controller="Employee" asp-action="Create" class="row col-8" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <partial name="PartialView/CreateEditView"></partial>
        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

@section validationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
