@model DepartmentEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Edit Department</h1>
    <form method="post" asp-controller="Departments" asp-action="Edit" class="col-8">
       
        <partial name="PartialView/CreateEditView"></partial>

        <div class="mt-4 m-auto">
            <input class="btn btn-success" type="submit" value="Edit" />
            <a asp-controller="Departments" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

